# Node
frontend/node_modules/
node_modules/

# Build output
frontend/dist/
dist/

# Python
venv/
backend/venv/
__pycache__/
*.pyc

# Environment
.env
*.env

# IDE
.vscode/
.idea/

# Logs
*.log
# Database
*.db